body{
    width: 100%;
}
.img-poster {
    width: 270px;
    height: 370px;
    position: absolute;
    left: 200px;
    top: 50px;
    
}
.lista-info {
    position: absolute;
    left: 550px;
    top: 100px;
}
.lista-info li {
    color: white;
    font-size: 20px;
}
.conteudo-principal {
    position: absolute;
    margin-top: 65px;
    width: 100%;
    height: 550px;
    top: 200px;
    margin: 0;
}

.title-conteudo h2 {
    color: white;
    padding-top: 10px;
}
.trailer {
    position: absolute;
    top: 650px;
}